<div class="row">
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2 col-3">
            <div class="block-icon border rounded-circle text-muted">
              <i class="fas fa-robot"></i>
            </div>
            <div class="drop-divider-vertical-block">
              <div class="drop-divider-vertical"></div>
            </div>
          </div>
          <div class="col-lg-10 col-9">
            <h5 class="pt-3 pb-3 mb-0">Где его взять?</h5>
            <div>
              Есть много вариантов Lorem Ipsum, но большинство
              из них имеет не всегда приемлемые модификации,
              например, юмористические вставки или слова,
              которые даже отдалённо не напоминают латынь.
              Если вам нужен Lorem Ipsum для серьёзного проекта,
              вы наверняка не хотите какой-нибудь шутки, скрытой
              в середине абзаца.
            </div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-lg-2 col-3">
            <div class="block-icon border rounded-circle text-muted">
              <i class="fas fa-user-cog"></i>
            </div>
            <div class="drop-divider-vertical-block">
              <div class="drop-divider-vertical"></div>
            </div>
          </div>
          <div class="col-lg-10 col-9">
            <h5 class="pt-3 pb-3 mb-0">Откуда он появился?</h5>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent mi mi, porta eu ipsum quis, tempus pulvinar mi.
              Fusce porta lectus quis est congue, sollicitudin sodales augue viverra.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-3">
            <div class="block-icon border rounded-circle text-muted">
              <i class="fas fa-heart"></i>
            </div>
          </div>
          <div class="col-lg-10 col-9">
            <h5 class="pt-3 pb-3 mb-0">Почему он используется?</h5>
            <div>
              Есть много вариантов Lorem Ipsum, но большинство
              из них имеет не всегда приемлемые модификации,
              например, юмористические вставки или слова,
              которые даже отдалённо не напоминают латынь.
              Если вам нужен Lorem Ipsum для серьёзного проекта,
              вы наверняка не хотите какой-нибудь шутки, скрытой
              в середине абзаца.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-7">
    <div class="card h-100"></div>
  </div>
</div>
