.form-control-add {
  background-color: #F1F3F4!important;
  border: 0!important;
  border-radius: 15px!important;
}
.active-tr {
  background-color: rgba(236, 64, 122, 0.1);
}
.banner-image {
  object-fit: cover;
  height: 300px;
  width: auto;
  border-radius:5px;
}
.logo-image {
  height: 102px;
  width: auto;
}
