<div class="row">
  <div [ngClass]="showForm ? 'col-md-9':'col-md-12'">
    <div class="card card-service" *ngIf="listCategory" #cardService>
      <div class="card-header">
        <div class="row">
          <div class="col-md-2 align-self-center">
            <h5 class="mb-0">{{itemSection?.name || 'Все услуги'}}</h5>
          </div>
          <div class="col-md-10">
            <form class="text-right" [formGroup]="formCategory">
              <div class="input-group">
                <input class="form-control form-control-sm form-control-add pl-3 mr-lg-2"
                       id="name" name="name" formControlName="name" placeholder="Имя категории"/>

                <select class="form-control form-control-sm form-control-add pl-3 mr-lg-2" name="section" formControlName="section" placeholder="Раздел">
                  <option *ngFor="let section of listSection" [value]="section.id">{{section.name}}</option>
                </select>

                <input type="number" class="form-control form-control-sm form-control-add pl-3 mr-lg-2"
                       id="number" name="number" formControlName="number" placeholder="Приоритет"/>
                <input type="file" class="d-none" id="image" name="image" placeholder="Изображение" (change)="selectImageCategory($event)" #imageCategory>
                <label class="form-control form-control-sm form-control-add text-muted text-left pl-3 mr-lg-2" for="image">
                  Файл: {{imageForCategory?.name | slice:0:8}}
                </label>

                <div class="input-group-append">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-table mr-lg-2 text-nowrap" [disabled]="formCategory.invalid"
                            (click)="createCategory(formCategory.value); formCategory.reset()">
                      <i class="fas fa-plus"></i>
                    </button>
                    <div class="border-left mr-lg-2"></div>
                    <div class="dropdown ml-lg-2">
                      <button class="btn btn-sm btn-table" id="dropdownMenuButton1" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false" title="Разделы">
                        <i class="fas fa-layer-group"></i>
                      </button>

                      <div class="dropdown-menu-right dropdown-menu mt-2" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-item drp-item pt-2 pb-2" *ngFor="let section of listSection" [ngClass]="itemSection && itemSection.id === section.id ? 'btn-active':''"
                             (click)="itemSection = section">{{section.name}}</div>
                      </div>
                    </div>
                    <button class="btn btn-sm btn-table"
                            (click)="getListCategory()"><i class="fas fa-sync-alt"></i></button>
                    <button class="btn btn-sm btn-table text-nowrap"
                            (click)="showForm = !showForm; itemService = null;">{{showForm ? 'Скрыть форму':'Добавить услугу'}}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="table-responsive" *ngIf="listCategory.length > 0">
        <table class="table table-sm mb-0">
          <tbody *ngFor="let category of listCategory | orderBy:'number':false" class="border-0"
                 [ngClass]="itemSection && itemSection.id !== category.section ? 'd-none':''">
          <tr *ngIf="category !== itemCategory" class="table-header">

            <td class="pl-4 align-middle">
              <img src="{{category.image}}" width="25" height="25" class="rounded">
            </td>
            <th class="align-middle">{{category.name}}</th>
            <td class="align-middle text-muted w-50" scope="col"><small>Информация</small></td>
            <td class="align-middle text-muted" scope="col"><small>Цена</small>
            <td class="align-middle text-muted text-center" scope="col"><small>Отображение</small>
            <td class="align-middle text-muted text-center" scope="col"><small>Приоритет({{category.number}})</small>
            <th class="align-middle text-right pr-4" colspan="2">
              <div class="btn-group">
                <button class="btn btn-table btn-sm" (click)="focusCategoryUpdate(category)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-table btn-sm" (click)="deleteCategory(category.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </th>
          </tr>

          <tr *ngIf="category === itemCategory">
            <th class="pl-4 align-middle p-3" colspan="2">
              <input type="text" class="form-control form-control-sm m-0 rounded" #categoryUpdate
                     name="name" [(ngModel)]="itemCategory.name" (keyup.enter)="updateCategory(itemCategory)" placeholder="Введите название категории"/>
            </th>

            <th class="pl-4 align-middle p-3" colspan="1">
              <select class="form-control form-control-sm m-0 rounded" name="section" [(ngModel)]="itemCategory.section" placeholder="Раздел">
                <option *ngFor="let section of listSection" [value]="section.id">{{section.name}}</option>
              </select>
            </th>
            <th class="pl-4 align-middle p-3">
              <input type="number" class="form-control form-control-sm m-0 rounded"
                     name="name" [(ngModel)]="itemCategory.number" (keyup.enter)="updateCategory(itemCategory)" placeholder="Приоритет"/>
            </th>
            <th class="pl-4 align-middle p-3" colspan="2">
              <input class="form-control-file pl-2" type="file" name="image" placeholder="Изображение"
                     (change)="selectImageCategory($event)" #imageCategory>
            </th>

            <th class="align-middle text-right pr-4" colspan="1">
              <div class="btn-group">
                <button class="btn btn-table btn-sm" (click)="updateCategory(itemCategory)">
                  <i class="fas fa-save"></i>
                </button>
                <button class="btn btn-table btn-sm" (click)="closeCategoryUpdate()">
                  <i class="fas fa-times"></i>
                </button>
                <button class="btn btn-table btn-sm" (click)="deleteCategory(category.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </th>
          </tr>

          <tr *ngFor="let service of category.service | orderBy:'number':false" [ngClass]="itemService === service ? 'active-tr':''">
            <td class="pl-4 align-middle">
              <img src="{{service.image}}" width="25" height="25" class="rounded">
            </td>
            <td class="align-middle">{{service.name}}</td>
            <td class="align-middle w-50">{{service.info}}</td>
            <td class="align-middle">{{service.price | currency:'RUB':' ':'1.0-0'}}</td>
            <td class="align-middle text-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{service.id}}" [(ngModel)]="service.flActive" disabled>
                <label class="custom-control-label" for="{{service.id}}"></label>
              </div>
            </td>
            <td class="align-middle text-center">{{service.number}}</td>
            <td class="text-right align-middle pr-4">
              <div class="btn-group">
                <button class="btn btn-table btn-sm" (click)="showForm = true; itemService = service; this.image = null;">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-table btn-sm" (click)="deleteService(service.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3" *ngIf="showForm" [@slideIn]>
    <div class="card" *ngIf="itemService">
      <div class="card-header">
        <div class="row">
          <div class="col-10 align-self-center">
            <h5 class="mb-0">Редактировать услугу</h5>
          </div>
          <div class="col-2 text-right">
            <button class="btn btn-sm btn-table" (click)="itemService = null; getListCategory(); showForm = false;">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <form #formService="ngForm">
          <div class="form-group">
            <label class="text-muted">Категория</label>
            <select class="form-control form-control-sm" name="category" [(ngModel)]="itemService.category">
              <option *ngFor="let category of listCategoryForSelect" value="{{category.id}}">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="text-muted">Название</label>
            <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="itemService.name" required/>
          </div>
          <div class="form-group">
            <label class="text-muted">Цена</label>
            <input type="number" class="form-control form-control-sm" name="price" [(ngModel)]="itemService.price" required/>
          </div>
          <div class="form-group">
            <label class="text-muted">Приоритет</label>
            <input type="number" class="form-control form-control-sm" name="number" [(ngModel)]="itemService.number" required/>
          </div>
          <div class="form-group">
            <label class="text-muted">Описание</label>
            <textarea type="text" class="form-control form-control-sm" name="info" rows="3" [(ngModel)]="itemService.info">
            </textarea>
          </div>
          <div class="form-group">
            <label for="image">Изображение</label>
            <input class="form-control-file" type="file" name="image" (change)="selectImage($event)" #image>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="flActiveEdit" [(ngModel)]="itemService.flActive" required name="flActive">
            <label class="custom-control-label" for="flActiveEdit"> Отобразить на сайте?</label>
          </div>
          <button class="btn btn-blue pl-lg-5 pr-lg-5 btn-sm" [disabled]="formService.invalid"
                  (click)="updateService(itemService)">Сохранить
          </button>
        </form>
      </div>
    </div>

    <div class="card" *ngIf="!itemService && showForm">
      <div class="card-header">
        <div class="row">
          <div class="col-10 align-self-center">
            <h5 class="mb-0">Новая услуга</h5>
          </div>
          <div class="col-2 text-right">
            <button class="btn btn-sm btn-table" (click)="showForm = false;">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <form [formGroup]="formService">
          <div class="form-group">
            <label class="text-muted">Категория</label>
            <select class="form-control form-control-sm" name="category" formControlName="category">
              <option *ngFor="let category of listCategoryForSelect" value="{{category.id}}">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="text-muted">Название</label>
            <input type="text" class="form-control form-control-sm" name="name" formControlName="name"/>
          </div>
          <div class="form-group">
            <label class="text-muted">Цена</label>
            <input type="number" class="form-control form-control-sm" name="price" formControlName="price"/>
          </div>
          <div class="form-group">
            <label class="text-muted">Приоритет</label>
            <input type="number" class="form-control form-control-sm" name="number" formControlName="number"/>
          </div>
          <div class="form-group">
            <label class="text-muted">Описание</label>
            <textarea type="text" class="form-control form-control-sm" name="info" id="info" rows="3" formControlName="info">
            </textarea>
          </div>
          <div class="form-group">
            <label for="image">Изображение</label>
            <input class="form-control-file" type="file" name="image" (change)="selectImage($event)" #image>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="flActive" formControlName="flActive">
            <label class="custom-control-label" for="flActive"> Отобразить на сайте?</label>
          </div>
          <button class="btn btn-blue pl-lg-5 pr-lg-5 btn-sm" [disabled]="formService.invalid"
                  (click)="createService(formService.value)">Добавить
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
