<div class="text-center header">
  <div class="font-weight-bold title pt-lg-4 pb-lg-4 pt-3 pb-3 display-4">Список услуг</div>
  <div class="dropdown-divider pb-4 m-auto"></div>
  <div class="pb-3">
    Компания "РЕМТЕХСЕРВИС" осуществляет платный, гарантийный и послегарантийный ремонт следующих устройств.
  </div>
</div>

<div class="w-100 content container pb-5">
  <div class="row">

    <div class="col-lg-3 pt-lg-4 pt-3 mb-3">
      <div class="border-bottom pb-2 mb-3">
        <div class="row">
          <div class="col-8">
            <h5>{{itemSection?.name || 'Все категории'}}</h5>
          </div>
          <div class="col-4 text-right">
            <div class="dropdown ml-lg-2">
              <button class="btn btn-sm btn-table" id="dropdownMenuButton1" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" title="Разделы">
                <i class="fas fa-ellipsis-v"></i>
              </button>

              <div class="dropdown-menu-right dropdown-menu mt-2" aria-labelledby="dropdownMenuButton1">
                <div class="dropdown-item drp-item pt-2 pb-2" *ngFor="let section of listSection"
                     [ngClass]="itemSection && itemSection.id === section.id ? 'btn-active':''"
                     (click)="itemSection = section; quantityCategory = listCategory.length">{{section.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-category" *ngFor="let category of listCategory | slice:0:quantityCategory">
        <div class="pb-1" [ngClass]="itemSection && itemSection.id !== category.section ? 'd-none':''">
          <div class="rounded card-category pl-3 pt-2 pb-2"
               (click)="setCategory(category)" [ngClass]="itemCategory.id === category.id ? 'active-btn':''">
            <div>
              <h6 class="mb-0">{{category.name}}</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <button class="btn btn-sm btn-table" *ngIf="quantityCategory ===  4" (click)="quantityCategory = listCategory.length">
          Показать еще
        </button>
        <button class="btn btn-sm btn-table" *ngIf="quantityCategory !== 4" (click)="quantityCategory = 4">Скрыть</button>
      </div>
    </div>
    <div class="col-lg-9 pt-lg-4 pt-3" #blockService>
      <div class="pb-2 mb-3">
        <div class="row">
          <div class="col-md-6">
            <h5>{{itemCategory.name}}</h5>
          </div>
          <div class="col-md-6">
            <form>
              <div class="position-absolute block-icon-search">
                <i class="fas fa-search pl-3"></i>
              </div>
              <input class="form-control form-control-sm form-control-search rounded pl-5" placeholder="Поиск по услугам" name="searchStr" [(ngModel)]="searchStr">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-3" *ngFor="let service of itemCategory.service | orderBy:'number':false"
             [hidden]="!service.flActive || searchStr">
          <div class="card h-100">
            <div class="row p-3">
              <div class="col-2 col-lg-3 text-center">
                <img class="image-card rounded" src="{{service.image}}">
              </div>
              <div class="col-10 col-lg-9">
                <div class="row">
                  <div class="col-8 col-lg-9"><h5 class="mt-0">{{service.name}}</h5></div>
                  <div class="col-4 col-lg-3 text-right text-muted price pl-0 text-nowrap">
                    от {{service.price | currency:'RUB':' ':'1.0-0'}} ₽
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer pt-0 bg-white border-0">
              <div class="row">
                <div class="col-lg-8 text-muted">{{service.info}}</div>
                <div class="col-lg-4 text-right pr-2">
                  <button class="btn btn-blue btn-sm mt-2 ml-3" (click)="setService(service)">Заказать</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-3" *ngFor="let service of listService | orderBy:'number':false | searchPipe:searchStr" [hidden]="!searchStr">
          <div class="card h-100">
            <div class="row p-3">
              <div class="col-2 col-lg-3">
                <img class="image-card rounded" src="{{service.image}}">
              </div>
              <div class="col-10 col-lg-9">
                <div class="row">
                  <div class="col-8 col-lg-9"><h5 class="mt-0">{{service.name}}</h5></div>
                  <div class="col-4 col-lg-3 text-right text-muted price pl-0">от {{service.price | currency:'RUB':' ':'1.0-0'}} ₽
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer pt-0 bg-white border-0">
              <div class="row">
                <div class="col-lg-8 text-muted">{{service.info}}</div>
                <div class="col-lg-4 text-right pr-2">
                  <button class="btn btn-blue btn-sm mt-2 ml-3" (click)="setService(service)">Заказать</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
