.header {
  background-color: #1565C0;
  color: #FFFFFF;
}

.card-category {
  cursor: pointer;
  border: 1px solid #DEE2E6;
}
.image-card {
  object-fit: cover;
  height: 50px;
  width: auto;
}
.active-btn {
  border-radius: 5px;
  color: #1565C0!important;
  border: 1px solid #1565C0!important;
}
@media (max-width: 400px) {
  .image-card {
    object-fit: cover;
    height: 35px;
    width: 35px;
  }
  .price {
    font-size: 0.8rem;
  }
}
.content {
  min-height: 95vh!important;
}

.title {
  letter-spacing: 3px;
}
.dropdown-divider {
  width: 100px;
  border-top: 3px solid #FFFFFF!important;
  border-radius: 2px;
}


.form-control-search {
  background-color: #eeeeee!important;
  border: 0!important;
  border-radius: 15px!important;
}
.block-icon-search {
  color: #6C757D!important;
  line-height: 31px;
}


.dropdown-menu {
  cursor: pointer;
  border: none;
  border-radius:2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.dropdown-item:focus, .dropdown-item:active {
  background-color: rgba(255, 255, 255, 0.61);
  color: #4b4b4b !important;
}
.btn-active {
  color: #1565C0!important;
  &:hover {
    color: darken(#1565C0, 13)!important;
  }
}
