$boxShadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);

.container {
  min-height: 95vh;
}
.title {
  letter-spacing: 3px!important;
}
.dropdown-divider {
  width: 100px;
  border-top: 3px solid #1565C0!important;
  border-radius: 2px;
}

.image-product {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.active-link {
  color: #1565C0!important;
}
.card-header-feedback {
  box-shadow: $boxShadow;
  color: #FAFAFA;
  background-color: #1565C0!important;
}
