.content {
  height: 95vh;
}
.title {
  letter-spacing: 3px!important;
}
.dropdown-divider {
  width: 100px;
  border-top: 3px solid #1565C0!important;
  border-radius: 2px;
}
.map {
  min-height: 300px;
}
