<div class="w-100 container mt-3">
  <div class="row content">
    <div class="col-12 text-center">
      <div class="font-weight-bold title pt-lg-4 pb-lg-4 pt-2 pb-2 display-4">Контакты</div>
      <div class="dropdown-divider pb-lg-4 pb-3 m-auto"></div>
      <div class="pb-lg-4 pb-3 mb-0 d-sm-none d-none d-lg-block">
        Мы находимся по адресу г. Краснодар, ул. Черкасская, 133 офис 34, вход со стороны противоположной подъездам.
      </div>
    </div>
    <div class="col-lg-4 pb-4">
      <h3>Местоположение</h3>
      <ul class="text-muted" *ngFor="let address of listAddress">
        <li class="mt-2">{{address.city}}, {{address.address}}</li>
      </ul>
      <h3 class="mt-4">Контактные данные</h3>
      <ul class="text-muted">
        <li class="mt-2">8(918)363-65-99</li>
        <li class="mt-2">remtehservice@gmail.com</li>
      </ul>
      <h3 class="mt-4">Время работы</h3>
      <ul class="text-muted">
        <li class="mt-2">в будние с 8:00 до 20:00</li>
        <li class="mt-2">в выходные с 8:00 до 16:00</li>
      </ul>
    </div>
    <div class="col-lg-8 p-0 m-0 h-50">
      <div id="map" class="h-100 w-100 rounded-top"></div>
    </div>
  </div>
</div>
