.alert {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  //border: none;
  border-radius: 2px!important;
}
.alert-block {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 99;
}
