.dropdown-menu {
  cursor: pointer;
  border: none;
  border-radius:2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.dropdown-item:focus, .dropdown-item:active {
  background-color: rgba(255, 255, 255, 0.61);
  color: #4b4b4b !important;
}
.btn-active {
  color: #EC407A!important;
  &:hover {
    color: darken(#EC407A, 13)!important;
  }
}
.card-order {
  max-height: 88vh;
}

.modal-dialog {
  border-radius: 5px!important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.badge {
  min-width: 70px;
}
.service {
  line-height: 1;
}
@media (max-width: 768px) {
  .telephone {
    text-align: left!important;
  }
}

.modal-open {
  overflow: hidden!important;
}
