.table-image {
  object-fit: cover !important;
}
.card-product {
  max-height: 88vh;
}
.form-control-quantity {
  width: 50px!important;
}
.form-control-add {
  background-color: #F1F3F4!important;
  border: 0!important;
  border-radius: 15px!important;
}
.table-header {
  border-bottom-left-radius: 15px!important;
  border-bottom-right-radius: 15px!important;
  background-color: rgba(21, 101, 192, 0.1);
}
