<div class="container pt-3 pb-4">
  <div class="row">
    <div class="col-12 text-center">
      <div class="font-weight-bold title pt-lg-4 pb-lg-4 pt-2 pb-2 display-4">Статус заказа</div>
      <div class="dropdown-divider pb-lg-4 pb-3 m-auto"></div>
      <h5 class="pb-lg-5 pb-3 mb-0">
        Если вы являетесь нашим клиентом,
        то на этой странице вы можете узнать статус
        ремонта своего устройства. Для этого нужно ввести
        номер телефона, который вы вводили при подаче заявки.
      </h5>
    </div>

    <div class="col-md-3"></div>
    <div class="col-md-6 mb-4 mt-lg-3 text-center">
      <form [formGroup]="formSearch">
        <input type="text" name="telephone" class="form-control form-control-search"
               formControlName="telephone" placeholder="Введите номер телефона, чтобы отследить заказ">
        <button class="btn btn-blue btn-search mt-4 pl-lg-5 pr-lg-5 pl-4 pr-4"
                (click)="getListOrder(formSearch.value.telephone)">Найти
        </button>
      </form>
    </div>
    <div class="col-md-3"></div>


    <div class="mb-3" [ngClass]="listSale.length === 0 ? 'col-lg-9 m-auto':'col-lg-6'">
      <div class="card p-3 mb-3" *ngFor="let order of listOrder">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-10">
                <h5 class="mt-0">
                  <span *ngIf="order.status === 'new'" class="badge badge-danger mr-2">В ожидании</span>
                  <span *ngIf="order.status === 'pending'" class="badge badge-primary mr-2">В работе</span>
                  <span *ngIf="order.status === 'success'" class="badge badge-success mr-2">Выполнен</span>
                  <span *ngIf="order.status === 'cancel'" class="badge badge-secondary mr-2">Отменен</span>
                  {{order.service.name}}
                  <br/>
                </h5>
              </div>
              <div class="col-2 text-right text-muted price pl-0 text-nowrap" *ngIf="order.status === 'new'">≈ {{order.price | currency:'RUB':' ':'1.0-0'}}₽</div>
              <div class="col-12 mb-3">{{order.date | date:'dd MMM yyyy HH:mm'}}</div>
              <div class="col-md-auto">
                <h6>Итоговая цена</h6>
                <div class="text-muted mb-3">
                  <div *ngIf="order.status !== 'new'">{{order.price | currency:'RUB':' ':'1.0-0'}}₽</div>
                  <div *ngIf="order.status === 'new'">-</div>
                </div>
              </div>
              <div class="col-md-auto">
                <h6>Комментарий от мастера</h6>
                <div class="text-muted mb-3">
                  {{order.comment || '-'}}
                </div>
              </div>
              <div class="col-md-auto">
                <h6>Дата выполнения</h6>
                <div class="text-muted mb-3">
                  <div *ngIf="order.dateCompleted">{{order.dateCompleted | date:'dd MMM yyyy HH:mm'}}</div>
                  <div *ngIf="!order.dateCompleted">-</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3" [ngClass]="listOrder.length === 0 ? 'col-lg-9 m-auto':'col-lg-6'">
      <div class="card mb-3" *ngFor="let sale of listSale">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-7 align-middle">
              <h5 class="mb-0">
                <span *ngIf="sale.status === 'new'" class="badge badge-danger mr-2">В ожидании</span>
                <span *ngIf="sale.status === 'pending'" class="badge badge-primary mr-2">Собирается</span>
                <span *ngIf="sale.status === 'success'" class="badge badge-success mr-2">Собран</span>
                <span *ngIf="sale.status === 'cancel'" class="badge badge-secondary mr-2">Отменен</span>
                {{sale.name}}
                <br/>
              </h5>
            </div>
            <div class="col-lg-5 align-middle text-right">
              Сумма заказа {{sale.sum | currency:'RUB':' ':'1.0-0'}}₽
            </div>
          </div>
          <div class="mt-2">{{sale.date | date:'dd MMM yyyy HH:mm'}}</div>
        </div>
        <div class="card-body table-responsive pt-0">
          <table class="table table-sm table-borderless">
            <thead>
            <tr>
              <th scope="col"><small class="font-weight-bold">Товар</small></th>
              <th scope="col"><small class="font-weight-bold">Цена</small></th>
              <th class="text-center nowrap" scope="col"><small class="font-weight-bold">Кол-во</small></th>
              <th class="text-right" scope="col"><small class="font-weight-bold">Итог</small></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of sale.product">
              <td>{{product.name}}</td>
              <td class="nowrap">{{product.price | currency:'RUB':' ':'1.0-0'}}₽</td>
              <td class="text-center">x {{product.quantity}}</td>
              <td class="nowrap text-right">{{product.price * product.quantity | currency:'RUB':' ':'1.0-0'}}₽</td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="sale.flPickup"><small class="mr-2 font-weight-bold">Самовывоз:</small> {{sale.address}}</div>
          <div *ngIf="!sale.flPickup"><small class="mr-2 font-weight-bold">Доставка:</small> {{sale.address}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
