.table-total {
  color: #EC407A!important;
}
.data-report {
  max-height: 88vh!important;
}

th, td {
  white-space:nowrap;
}
.block-text {
  height: 18px;
  background: #eeeeee;
  border-radius: 3px;
}
