.card {
  margin: auto;
  position: relative;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.card-block {
  overflow: hidden!important;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 50vh;
  z-index: 99;
}
.title {
  color: #000000;
}

