.card {
  margin: auto;
  position: relative;
  z-index: 100;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19) !important;
}

.card-block {

  overflow: hidden!important;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 50vh;
  z-index: 99;
}
.title {
  color: #000000;
}

