<div class="block-card">
  <div class="container">

    <div class="display-4 title pb-3 w-100 text-center font-weight-bold pt-5">Гарантия качества</div>
    <div class="mb-0 w-100 text-center text-muted pb-5 card-text">Этому городу нужен новый герой. Кто же он? Это Ultra Service. Да это Ultra Service. ULTRA SERVICE!</div>

    <div class="row">
      <div class="col-md-4">
        <div class="block-icon m-auto text-center rounded-circle">
          <i class="fas fa-magic"></i>
        </div>
        <div class="card-title">
          <h3 class="font-weight-bold w-100 text-center pt-3 pb-2 mb-0 title">Магия</h3>
        </div>
        <div class="card-text text-muted w-100 text-center pb-5">Мы используем чурную магию, чтобы после нашего ремонта у вас никогда и ничего не ломалось.</div>
      </div>
      <div class="col-md-4">
        <div class="block-icon m-auto text-center rounded-circle">
          <i class="fas fa-heart"></i>
        </div>
        <div class="card-title">
          <h3 class="font-weight-bold w-100 text-center pt-3 pb-2 mb-0 title">Любовь</h3>
        </div>
        <div class="card-text text-muted w-100 text-center pb-5">Мы с любовь относимся к каждому устройству, которое поступает к нам на ремонт.</div>
      </div>
      <div class="col-md-4">
        <div class="block-icon m-auto text-center rounded-circle">
          <i class="fas fa-robot"></i>
        </div>
        <div class="card-title">
          <h3 class="font-weight-bold w-100 text-center pt-3 pb-2 mb-0 title">Техника</h3>
        </div>
        <div class="card-text text-muted w-100 text-center pb-5">Мы используем только самое новое оборудоание, когда ремонтируем и обслуживание ваши девайсы.</div>
      </div>
    </div>
  </div>
</div>

<div class="color-block">
  <div class="container">
    <div class="col-12">
      <div class="display-4 w-100 text-center title font-weight-bold pt-5 color-block-title">Магия помогает</div>
      <div class="color-block-dropdown-divider mt-4 pb-4"></div>
      <div class="color-block-text w-100 text-center pb-5">
        Ошибка 418: возвращается при попытке приготовить кофе с помощью чайника. Не будь чайником готовь кофе с помощью магии
        или обращайся к нам, мы починим твой чайник и сделаем тебе кофе.
      </div>

      <div class="block-btn text-center pb-5">
        <button class="btn-lg btn-light btn font-weight-bold color-block-btn" (click)="onScrollTop()">ИСПОЛЬЗОВАТЬ МАГИЮ <i class="fas fa-magic ml-2"></i></button>
      </div>
    </div>
  </div>
</div>
