$boxShadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);

.image-container {
  position: relative;
}
.image-container .after {
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  color: #FFF;
  min-height: 100vh;
}
.background {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(38, 50, 56, 0.9);
}
.image-container .after {
  display: block;
}
.background-image {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%!important;
  object-fit: cover;
}
.card-category {
  box-shadow: $boxShadow;
  border-radius: 4px!important;
  background-color: #6C757D;
  //border: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #000000;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.8)!important;
  }
}
.active-card {
  color: #000000;
  transform: scale(1.1)!important;
  background-color: rgba(255, 255, 255, 0.8)!important;
}
.card-image {
  width: auto;
  height: 60px;
  object-fit: cover;
}
.title {
  letter-spacing: 3px;
}
.dropdown-divider {
  width: 100px;
  border-top: 3px solid #1565C0!important;
  border-radius: 2px;
}
.dropdown-menu {
  box-shadow: $boxShadow;
  max-height: 300px;
}
.item-dropdown {
  font-weight: 400;
  cursor: pointer;
  &:hover {
    color: #1565C0!important;
  }
}

.navbar {
  z-index: 101;
  //border-bottom: 1px solid #757575;
  //background-color: rgba(76, 175, 80, 0.6);
}
.home-header {
  background-color: rgba(21, 101, 192, 0.6);
  box-shadow: $boxShadow;
}

.navbar-title {
  letter-spacing: 1px;
  color: #FFFFFF;
}
.navbar-text {
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
}
.navbar-info {
  color: #FFFFFF!important;
  letter-spacing: 1.5px;
}
.active-pink {
  color: #1598ff !important;
}
.navbar-toggler{
  &:focus {
    color: #FAFAFA;
    outline: none!important;
  }
}
.active-link {
  cursor: pointer;
  color: #ffffff!important;
  &:hover {
    text-decoration: underline!important;
  }
}
.modal {
  .modal-dialog .modal-content .modal-header {
    box-shadow: $boxShadow;
    color: #FAFAFA;
    background-color: #1565C0!important;
  }
}
.block-icon {
  height: 120px;
  width: 120px;
  color: #FAFAFA;
  background-color: #1565C0!important;
  i {
    font-size: 4rem;
    line-height: 120px;
  }
}
.card-header-feedback {
  box-shadow: $boxShadow;
  color: #FAFAFA;
  background-color: #1565C0!important;
}
.modal-open {
  overflow-y: inherit!important;
}

.btn-feedback {
  font-weight: 500;
  letter-spacing: 2px;
}
.modal-open {
  overflow-y:scroll!important;
  padding-right:0 !important;
}
.btn-secondary {
  box-shadow: $boxShadow;
}
//mobile
@media (max-width: 768px) {
  .card-image {
    width: auto;
    height: 30px;
    object-fit: cover;
  }
  .text-category {
    margin: 0;
  }
  .display-4 {
    font-size: 2rem;
  }
}
