<div class="image-container">
  <img src="assets/background-image.jpg" class="background-image"/>
  <div class="background"></div>
  <div class="after">

    <nav class="navbar navbar-expand-lg navbar-dark pt-lg-1 pt-2 pb-lg-1 pb-2  w-100">
      <div class="container">
        <a class="navbar-brand navbar-title" href="#">
          <h4 class="mb-0 font-weight-bold mt-1 d-none d-lg-block">
            <img src="/assets/logo2.png" width="auto" height="40" alt="" class="pb-2">
            РЕМТЕХСЕРВИС
          </h4>
          <h4 class="mb-0 font-weight-bold mt-1 d-lg-none">
            РЕМТЕХСЕРВИС
          </h4>
        </a>
        <button class="navbar-toggler border-0" type="button"
                data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation"
                #btnMenu>
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item telephone-border d-none d-lg-block">
              <a class="nav-link navbar-text pl-lg-4 mr-3" (click)="onNav('location')">
                <i class="fas fa-map-marker-alt mr-3"></i>
                <i class="fas fa-envelope mr-2"></i>
                8(918)363-65-99
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-text pl-lg-4 active-pink" (click)="onNav('feedback')">
                {{'Главная' | uppercase}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-text pl-lg-3" (click)="onNav('service')">
                {{'Услуги' | uppercase}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-text pl-lg-3" (click)="onNav('product')">
                {{'Магазин' | uppercase}}
              </a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link navbar-text pl-lg-3" (click)="onNav('location')">
                {{'Контакты' | uppercase}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-text pl-lg-3" (click)="onNav('profile')">
                <i class="fas fa-user mr-2"></i>{{'Статус заказа' | uppercase}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="w-100 container">
      <div class="row mt-1 pb-5">


        <div class="col-12 text-center mt-lg-1">
          <div class="title display-4 font-weight-bold pt-lg-4 pb-lg-4 pt-2 pb-2">{{itemSection.name}}</div>
          <div class="dropdown-divider m-auto pb-4"></div>
          <h4 class="mb-0">
            <a data-toggle="modal" data-target="#feedbackModal" class="active-link p-0 m-0">Заказать обратный звонок <i class="fas fa-phone green ml-2"></i></a>
          </h4>
        </div>

        <div class="col-12 mt-4 mb-4">
          <ul class="nav nav-tabs">
            <li class="nav-item mr-1" *ngFor="let section of listSection" (click)="getCategory(section)">
              <a class="nav-link nav-text" [ngClass]="itemSection.id === section.id ? 'active':''">
                <h5 class="mb-0">{{section.name}}</h5>
              </a>
            </li>
          </ul>
        </div>


        <div class="col-lg-3 col-md-6 mb-lg-2 mb-1" *ngFor="let category of listCategory"
             (mouseenter)="setActiveCategory(category)" (mouseleave)="delService()">
          <div class="media p-2 border rounded card-category" (click)="setCategory(category)"
               [ngClass]="activeCategory === category ? 'active-card':''">
            <img [src]="category.image" class="card-image mr-3 rounded">
            <div class="media-body align-self-center">
              <div>{{category.name}}</div>
            </div>
          </div>
          <div class="p-1"></div>
          <div *ngIf="activeCategory" class="dropdown-menu overflow-auto mt-0 w-100"
               [ngClass]="activeCategory.id === category.id ? 'show':''">
            <div class="row m-1 item-dropdown" *ngFor="let service of activeCategory.service; let i = index"
                 (click)="setService(service)">
              <div *ngIf="i !== 0" class="col-12 border-top"></div>
              <div class="col-8">{{service.name}}</div>
              <div class="col-4 text-right align-self-center text-nowrap">от {{service.price}} ₽</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-landing-card></app-landing-card>

<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-8 text-center mb-5">
      <div class="pb-4 display-4 title font-weight-bold">Обратный звонок</div>
      <h5 class="mb-0 text-muted pb-5">
        Если Вы не нашли услугу, которая вам необходима или у Вас есть другой вопрос, можете заказать обратный звонок.
        Мы перезвоним Вам в ближайшее время для консультации по интересующему Вас вопросу.
      </h5>
      <div class="block-icon rounded-circle m-auto d-none d-md-block">
        <i class="fas fa-phone-volume"></i>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header card-header-feedback">
          <h4 class="mb-0">Мы позвоним</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="formRequest">
            <div class="form-group">
              <small class="font-weight-bold text-muted">ИМЯ</small>
              <input class="form-control form-control-sm mt-2" name="name" formControlName="name">
            </div>
            <div class="form-group">
              <small class="font-weight-bold text-muted">ТЕЛЕФОН</small>
              <input class="form-control form-control-sm mt-2" name="telephone" formControlName="telephone">
            </div>
            <div class="form-group">
              <small class="font-weight-bold text-muted">ТЕМА ВАШЕГО ВОПРОСА</small>
              <textarea class="form-control form-control-sm mt-2" name="info" formControlName="info"
                        rows="3"></textarea>
            </div>

            <div class="text-center">
              <button class="btn btn-blue btn-sm pr-5 pl-5 mt-3"
                      (click)="createRequest(formRequest.value); formRequest.reset();">Отправить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<form [formGroup]="formRequest">
  <div class="modal fade bd-example-modal-sm" id="feedbackModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog border-0 modal-sm" role="document">
      <div class="modal-content border-0 rounded-top">
        <div class="modal-header border-0 rounded-top">
          <h5 class="modal-title" id="exampleModalLabel">Мы перезвоним</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <small class="font-weight-bold text-muted">ИМЯ</small>
            <input type="text" class="mt-2 form-control form-control-sm" name="name" formControlName="name"
                   placeholder="">
          </div>

          <div class="form-group">
            <small class="font-weight-bold text-muted">ТЕЛЕФОН</small>
            <input type="text" class="mt-2 form-control form-control-sm" name="telephone" formControlName="telephone"
                   placeholder="">
          </div>

          <div class="form-group">
            <small class="font-weight-bold text-muted">ТЕМА ВАШЕГО ВОПРОСА</small>
            <textarea type="text" class="mt-2 form-control form-control-sm" name="info" formControlName="info"
                      placeholder="" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-sm btn-blue pl-5 pr-5 m-auto" data-dismiss="modal"
                  (click)="createRequest(formRequest.value)">
            Отправить
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
