<!--footer starts from here-->
<footer class="footer pt-3 border-top">

  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a routerLink="feedback">главная</a></li>
      <li><a routerLink="service">услуги</a></li>
      <li><a routerLink="product">магазин</a></li>
      <li><a routerLink="profile">статус заказа</a></li>
      <li><a routerLink="location">контакты</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2019 | Designed With by <a href="https://github.com/EugeneMahota">Eugene Mahota</a></p>
    <!--social_footer_ul ends here-->
  </div>

</footer>
