$boxShadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
$mainColor: #1565C0;

.navbar {
  background-color: #FAFAFA!important;

}
.navbar-fixed {
  box-shadow: $boxShadow;
}
.navbar-title {
  color: #000000;
  letter-spacing: 3px;
}
.navbar-text {
  letter-spacing: 1px;
  font-weight: 500;
}
.navbar-info {
  color: $mainColor!important;
  letter-spacing: 1.5px;
}
.active-pink {
  color: #4CAF50 !important;
}
.navbar-toggler{
  &:focus {
    color: $mainColor;
    outline: none!important;
  }
}

.basket-btn {
  z-index: 102!important;
  background-color: #FFFFFF!important;
  box-shadow: $boxShadow!important;
  border-radius: 15px!important;
  right: 0;
  bottom: 0;
  position: fixed;
  color: #4CAF50!important;
  &:hover {
    box-shadow: 0 0 0 5px rgba(76, 175, 80, 0.6) !important;
  }
}
