<div class="w-100 pt-3 content container pb-5">
  <div class="row">
    <div class="col-12 text-center">
      <div class="font-weight-bold title pt-lg-4 pb-lg-4 pt-2 pb-2 display-4">Оформить заказ</div>
      <div class="dropdown-divider pb-lg-4 pb-3 m-auto"></div>
      <h5 class="pb-lg-5 pb-3 mb-0">
        Если вы являетесь нашим клиентом, то отследить состояние заказа можно <a class="active-link p-0 m-0" (click)="onProfile()">тут.</a>
      </h5>
    </div>

    <div class="col-lg-6 pb-3 m-auto">
      <div class="card p-3 h-100">
        <div class="row">
          <div class="col-2">
            <img class="image-card rounded" src="{{itemService.image}}">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-8"><h5 class="mt-0">{{itemService.name}}</h5></div>
              <div class="col-4 text-right text-muted price pl-0">от {{itemService.price | currency:'RUB':' ':'1.0-0'}} ₽</div>
              <div class="col-lg-12">{{itemService.info}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12"></div>
    <div class="col-lg-5 m-auto">
      <div class="card">
        <div class="card-header card-header-feedback">
          <h4 class="mb-0">Введите данные</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="formOrder">
            <div class="form-group">
              <small class="font-weight-bold text-muted">ИМЯ</small>
              <input type="text" class="form-control form-control-sm mt-2" name="name" formControlName="name" placeholder="">
            </div>

            <div class="form-group">
              <small class="font-weight-bold text-muted">ТЕЛЕФОН</small>
              <input type="text" class="form-control form-control-sm mt-2" name="telephone" formControlName="telephone" placeholder="">
            </div>

            <div class="form-group">
              <small class="font-weight-bold text-muted">КОММЕНТАРИЙ К ЗАКАЗУ</small>
              <textarea type="text" class="form-control form-control-sm  mt-2" name="info" formControlName="info" placeholder="" rows="3"></textarea>
            </div>

            <div class="mt-4 text-center">
              <button class="btn btn-sm btn-blue pl-5 pr-5" [disabled]="formOrder.invalid" (click)="createOrder(formOrder.value)">
                Отправить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
