<div class="row">
  <div class="col-12">
    <div class="card card-sale" *ngIf="listSale">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-3 align-self-center">
            <h5 class="mb-0">Список продаж</h5>
          </div>
          <div class="col-lg-9">

            <form class="text-right" [formGroup]="formSearch">
              <div class="input-group">
                <input type="text" class="form-control form-control-sm searchInput pl-3"
                       id="telephone" name="telephone" formControlName="telephone" placeholder="Введите номер покупателя"/>
                <div class="input-group-append">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-table" *ngIf="formSearch.valid" (click)="formSearch.reset()"><i class="fas fa-times"></i></button>
                    <button type="submit" class="btn btn-sm btn-table" [disabled]="formSearch.invalid"
                            (click)="getSaleByTelephone(formSearch.value.telephone)">
                      <i class="fas fa-search"></i>
                    </button>

                    <div class="dropdown d-lg-none">
                      <button class="btn btn-sm btn-table" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-calendar"></i>
                      </button>

                      <div class="dropdown-menu-right dropdown-menu mt-2" aria-labelledby="dropdownMenuButton2">
                        <button class="dropdown-item drp-item pt-2 pb-2" [ngClass]="activePeriod === 'day' ? 'btn-active':''" (click)="setActivePeriod('day')">Сегодня</button>
                        <button class="dropdown-item drp-item pt-2 pb-2" [ngClass]="activePeriod === 'yesterday' ? 'btn-active':''" (click)="setActivePeriod('yesterday')">Вчера</button>
                        <button class="dropdown-item drp-item pt-2 pb-2" [ngClass]="activePeriod === 'week' ? 'btn-active':''" (click)="setActivePeriod('week')">Неделя</button>
                        <button class="dropdown-item drp-item pt-2 pb-2" [ngClass]="activePeriod === 'month' ? 'btn-active':''" (click)="setActivePeriod('month')">Месяц</button>
                        <button class="dropdown-item drp-item pt-2 pb-2" [ngClass]="activePeriod === 'all' ? 'btn-active':''" (click)="setActivePeriod('all')">За все время</button>
                      </div>
                    </div>

                    <button class="btn btn-table btn-sm font-weight-bold d-none d-lg-block d-xl-block"
                            [ngClass]="activePeriod === 'day' ? 'btn-active':''" (click)="setActivePeriod('day')">Сегодня</button>
                    <button class="btn btn-table btn-sm font-weight-bold d-none d-lg-block d-xl-block"
                            [ngClass]="activePeriod === 'yesterday' ? 'btn-active':''" (click)="setActivePeriod('yesterday')">Вчера</button>
                    <button class="btn btn-table btn-sm font-weight-bold d-none d-lg-block d-xl-block"
                            [ngClass]="activePeriod === 'week' ? 'btn-active':''" (click)="setActivePeriod('week')">Неделя</button>
                    <button class="btn btn-table btn-sm font-weight-bold d-none d-lg-block d-xl-block"
                            [ngClass]="activePeriod === 'month' ? 'btn-active':''" (click)="setActivePeriod('month')">Месяц</button>
                    <button class="btn btn-table btn-sm font-weight-bold d-none d-lg-block d-xl-block"
                            [ngClass]="activePeriod === 'all' ? 'btn-active':''" (click)="setActivePeriod('all')">За все время</button>

                    <button class="btn btn-table btn-sm font-weight-bold" routerLink="add"><i class="fas fa-plus"></i></button>
                    <button class="btn btn-table btn-sm font-weight-bold" (click)="getSaleForPeriod()"><i class="fas fa-sync-alt"></i></button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="overflow-auto">
      <div class="pl-3 pr-3 pt-2 pb-2 border-top" *ngFor="let sale of listSale">
        <div class="row">
          <div class="col-md-3">
            <div class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-0">
                  <span *ngIf="sale.status === 'new'" class="badge badge-danger mr-2">Новый</span>
                  <span *ngIf="sale.status === 'pending'" class="badge badge-primary mr-2">Ожидает</span>
                  <span *ngIf="sale.status === 'success'" class="badge badge-success mr-2">Продан</span>
                  <span *ngIf="sale.status === 'cancel'" class="badge badge-secondary mr-2">Отменен</span>
                  {{sale.name}}
                </h6>
                <small class="text-muted">{{sale.date | date: 'dd MMM yyyy HH:mm '}}</small>
                <div><small class="mr-2 font-weight-bold">Комментарий:</small> {{sale.info ? sale.info: '-'}}</div>
                <div><small class="mr-2 font-weight-bold">Телефон:</small> {{sale.telephone}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="table-responsive">
              <table class="table table-sm mb-0">
                <thead>
                <tr class="pt-0">
                  <td class="border-0 p-0 border-0" scope="col"><small>Товар</small></td>
                  <td class="border-0 p-0 nowrap" scope="col"><small>Цена</small></td>
                  <td class="border-0 p-0 nowrap text-center" scope="col"><small>Кол-во</small></td>
                  <td class="border-0 p-0 nowrap text-right" scope="col"><small>Итог</small></td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of sale.product">
                  <td class="p-0">{{product.name}}</td>
                  <td class="nowrap p-0">{{product.price | currency:'RUB':' ':'1.0-0'}} ₽</td>
                  <td class="text-center nowrap p-0">x {{product.quantity}}</td>
                  <td class="text-right nowrap p-0">{{product.price * product.quantity | currency:'RUB':' ':'1.0-0'}} ₽</td>
                </tr>
                <tr>
                  <td class="p-0 table-total" colspan="3">Сумма заказа:</td>
                  <td class="text-right nowrap p-0 table-total" colspan="1">{{sale.sum | currency:'RUB':' ':'1.0-0'}} ₽</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-1 text-right">
            <div class="btn-group">
              <div class="dropdown">
                <button class="btn btn-sm btn-table" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bell"></i>
                </button>

                <div class="dropdown-menu-right dropdown-menu m-0" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item drp-item pt-2 pb-2" (click)="updateStatusSale(sale.id, 'pending')">Ожидает</div>
                  <div class="dropdown-item drp-item pt-2 pb-2" (click)="updateStatusSale(sale.id, 'success')">Продан</div>
                  <div class="dropdown-item drp-item pt-2 pb-2" (click)="updateStatusSale(sale.id, 'cancel')">Отменен</div>
                </div>
              </div>
              <button class="btn btn-table btn-sm" (click)="deleteSale(sale)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="listSale.length === 0">
        <h2 class="display-4 text-center card-body pb-5 text-muted">
          Список заказов пуст.
        </h2>
      </div>
    </div>
  </div>
  </div>
</div>
